<div class="row">
  <div class="span10 offset1">
    <% if logged_in? %>
      <a href="<%= logout_path %>" class="btn"><%= t('auth.logout') %></a>
    <% else %>
      <div class="text-center">
        <% unless Rails.env.production? %><a href="/auth/developer" class="btn"><i class="icon-github-alt"></i> <span><%= t('auth.developer_html') %></span></a><% end %>
      </div>
    <% end %>
  </div>
</div>
