<div class="page-content inset">

  <%= title t('hello') %>
  <h1>TrashApp</h1>
  <p class="lead muted">where things go.</p>

  <div class="row">
    <div class="col-md-12">
      <p class="lead">Hey look we can add a lot of stuff into these boxes. </p>
    </div>
    <div class="col-md-6">
      <p class="well">Like this box.</p>
    </div>
    <div class="col-md-6">
      <p class="well">But this one is cooler.</p>
    </div>
    <div class="col-md-4">
      <p class="well">Or possibly this one.</p>
    </div>
    <div class="col-md-4">
      <p class="well">And this one is cool too.</p>
    </div>
    <div class="col-md-4">
      <p class="well">This one is cool because it's the last one!</p>
    </div>
  </div>
</div>



